body {
  margin: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-style {
  text-align: center;
}

.bannerStyle {
  text-align: center;
  border-radius: 8px;
  max-width: 30%;
  height: auto;
  clear: both;
  padding-top: 2%;
}
